<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Topic Extraction</title>

    <link rel="stylesheet" href = {{url_for('static',filename = 'css/for_index.css')}}>

    
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    
</head>
<body id="particles-js">

    
    <h1 >Topic Extraction From URL</h1>  
                
    <form action="http://127.0.0.1:5000/topics" method="POST">
        <div class="input-group">
            <input type="url" class="form-rounded" name="url" placeholder="  Enter the URL">
        
        <div class="input-group-append">
            <button class="btn form-rounded" type="submit" style="margin-left: -50px;width: 50px;"><i class="fas fa-search"></i></button>
        </div>
    </div>
    </form>

    <!--For Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!--For particles-->
    <script type="text/javascript" src={{url_for('static',filename = "js/particles.js")}}></script>
    <script type="text/javascript" src={{url_for('static',filename = "js/app.js")}}></script> 

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/f50421dc36.js"></script>

    
</body>
</html>